ErrorDocument 404 /404.html

RewriteEngine on

# Redirect for webinar landing Page
RewriteRule ^webinars https://camunda.com/learn/webinars [L,R=301]
RewriteRule ^webinars/ https://camunda.com/learn/webinars [L,R=301]


# Redirect Shortcuts for DemandGen Landing Pages
RewriteRule ^de/versicherung2019 https://camunda.com/de/learn/whitepapers/digital-transformation-insurance/ [L,R=301]
RewriteRule ^de/bank2019 https://camunda.com/de/learn/whitepapers/digital-transformation-banking/ [L,R=301]

# Redirect all old "about references" requests to the case studies main page
RewriteRule ^about/references(.*) https://camunda.com/case-studies/ [L,R=301]

# DE Redirect all old "about references" requests to the case studies main page
RewriteRule ^de/about/references(.*) https://camunda.com/de/case-studies/ [L,R=301]

#Redirect the contact pages & related query strings
RewriteRule ^about/contact(.*) https://camunda.com/contact/ [L,R=301]

#DE Redirect the contact pages & related query strings
RewriteRule ^de/about/contact(.*) https://camunda.com/de/contact/ [L,R=301]

# Redirect some rogue 'references' pages
RewriteRule ^references(.*) https://camunda.com/case-studies/ [L,R=301]

RewriteRule ^blog https://blog.camunda.com/ [L,R=301]
RewriteRule ^blog/ https://blog.camunda.com/ [L,R=301]

# The other redirects.  Some of these may some 'random' but are referred to via external links, and so need to be redirected to conserve SEO value.
RewriteRule ^cloud/ https://camunda.com/products/cloud/ [L,R=301]
RewriteRule ^cloud https://camunda.com/products/cloud/ [L,R=301]
RewriteRule ^de/cloud/ https://camunda.com/de/products/cloud/ [L,R=301]
RewriteRule ^de/cloud https://camunda.com/de/products/cloud/ [L,R=301]
RewriteRule ^about/about-us/ https://camunda.com/about/leadership/ [L,R=301]
RewriteRule ^about/about-us https://camunda.com/about/leadership/ [L,R=301]
RewriteRule ^about/directions/ https://camunda.com/about/locations/ [L,R=301]
RewriteRule ^about/directions https://camunda.com/about/locations/ [L,R=301]
RewriteRule ^jobs https://camunda.com/career/ [L,R=301]
RewriteRule ^de/jobs https://camunda.com/de/career/ [L,R=301]
RewriteRule ^about/jobs/ https://camunda.com/career/ [L,R=301]
RewriteRule ^about/jobs https://camunda.com/career/ [L,R=301]
RewriteRule ^about/partners https://camunda.com/partners/ [L,R=301]
RewriteRule ^about/publications/ https://camunda.com/ [L,R=301]
RewriteRule ^about/publications https://camunda.com/ [L,R=301]
RewriteRule ^blog-inner.html https://camunda.com/ [L,R=301]
RewriteRule ^bpm-trio/training/ https://camunda.com/services/training/ [L,R=301]
RewriteRule ^bpm/consulting/ https://camunda.com/services/consulting/ [L,R=301]
RewriteRule ^bpm/consulting https://camunda.com/services/consulting/ [L,R=301]
RewriteRule ^bpm/enterprise/quote.php https://camunda.com/enterprise/ [L,R=301]
RewriteRule ^bpm/enterprise/ https://camunda.com/enterprise/ [L,R=301]
RewriteRule ^bpm/enterprise https://camunda.com/enterprise/ [L,R=301]
RewriteRule ^bpm/features/poster.php https://camunda.com/products/bpmn-engine/ [L,R=301]
RewriteRule ^bpm/features/ https://camunda.com/products/bpmn-engine/ [L,R=301]
RewriteRule ^bpm/features https://camunda.com/products/bpmn-engine/ [L,R=301]
RewriteRule ^bpm/references https://camunda.com/case-studies/ [L,R=301]
RewriteRule ^bpm/training/basic/ https://camunda.com/services/training/ [L,R=301]
RewriteRule ^bpm/training/basic https://camunda.com/services/training/ [L,R=301]
RewriteRule ^bpm/training/dev-ops/ https://camunda.com/services/training/ [L,R=301]
RewriteRule ^bpm/training/dev-ops https://camunda.com/services/training/ [L,R=301]
RewriteRule ^bpm/training/developers/ https://camunda.com/services/training/ [L,R=301]
RewriteRule ^bpm/training/developers https://camunda.com/services/training/ [L,R=301]
RewriteRule ^bpm/training/migrate/ https://camunda.com/services/training/ [L,R=301]
RewriteRule ^bpm/training/migrate https://camunda.com/services/training/ [L,R=301]
RewriteRule ^bpm/training/overview/ https://camunda.com/services/training/ [L,R=301]
RewriteRule ^bpm/training/overview https://camunda.com/services/training/ [L,R=301]
RewriteRule ^bpm/training/ https://camunda.com/services/training/ [L,R=301]
RewriteRule ^bpm/training https://camunda.com/services/training/ [L,R=301]
RewriteRule ^bpmn/classroom https://camunda.com/services/consulting/ [L,R=301]
RewriteRule ^bpmn/consulting/ https://camunda.com/services/consulting/ [L,R=301]
RewriteRule ^bpmn/consulting https://camunda.com/services/consulting/ [L,R=301]
RewriteRule ^bpmn/onsite/ https://camunda.com/services/consulting/ [L,R=301]
RewriteRule ^bpmn/onsite https://camunda.com/services/consulting/ [L,R=301]
RewriteRule ^bpmn/training/ https://camunda.com/services/training/ [L,R=301]
RewriteRule ^bpmn/training https://camunda.com/services/training/ [L,R=301]
RewriteRule ^cmmn/training/ https://camunda.com/services/training/ [L,R=301]
RewriteRule ^customers/finance/ https://camunda.com/case-studies/ [L,R=301]
RewriteRule ^customers/finance https://camunda.com/case-studies/ [L,R=301]
RewriteRule ^customers/insurance/motor-insurers-changes/ https://camunda.com/case-studies/ [L,R=301]
RewriteRule ^customers/insurance/ https://camunda.com/case-studies/ [L,R=301]
RewriteRule ^customers/insurance https://camunda.com/case-studies/ [L,R=301]
RewriteRule ^customers/isv/ https://camunda.com/case-studies
RewriteRule ^customers/isv https://camunda.com/case-studies
RewriteRule ^customers/telco/ https://camunda.com/case-studies/ [L,R=301]
RewriteRule ^customers/telco https://camunda.com/case-studies/ [L,R=301]
RewriteRule ^customers/ https://camunda.com/case-studies/ [L,R=301]
RewriteRule ^kunden/ https://camunda.com/de/case-studies/ [L,R=301]
RewriteRule ^kunden https://camunda.com/de/case-studies/ [L,R=301]
RewriteRule ^customers https://camunda.com/case-studies/ [L,R=301]
RewriteRule ^de/about/about-us/ https://camunda.com/de/contact/ [L,R=301]
RewriteRule ^de/about/about-us https://camunda.com/de/contact/ [L,R=301]
RewriteRule ^de/about/directions/ https://camunda.com/de/about/locations/ [L,R=301]
RewriteRule ^de/about/directions https://camunda.com/de/about/locations/ [L,R=301]
RewriteRule ^de/about/jobs/ https://camunda.com/de/about/career/ [L,R=301]
RewriteRule ^de/about/jobs https://camunda.com/de/about/career/ [L,R=301]
RewriteRule ^de/about/partners https://camunda.com/de/about/career/ [L,R=301]
RewriteRule ^de/about/publications/ https://camunda.com/de/ [L,R=301]
RewriteRule ^de/about/publications https://camunda.com/de/ [L,R=301]
RewriteRule ^de/bpm-trio/training/ https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/bpm/consulting/ https://camunda.com/de/services/consulting/ [L,R=301]
RewriteRule ^de/bpm/consulting https://camunda.com/de/services/consulting/ [L,R=301]
RewriteRule ^de/bpm/demo/ https://camunda.com/de/download/enterprise/ [L,R=301]
RewriteRule ^de/bpm/demo https://camunda.com/de/download/enterprise/ [L,R=301]
RewriteRule ^de/bpm/enterprise/quote.php https://camunda.com/de/enterprise/ [L,R=301]
RewriteRule ^de/bpm/enterprise/ https://camunda.com/de/enterprise/ [L,R=301]
RewriteRule ^de/bpm/enterprise https://camunda.com/de/enterprise/ [L,R=301]
RewriteRule ^de/bpm/features/poster.php https://camunda.com/de/enterprise/ [L,R=301]
RewriteRule ^de/bpm/features/ https://camunda.com/de/enterprise/ [L,R=301]
RewriteRule ^de/bpm/features https://camunda.com/de/enterprise/ [L,R=301]
RewriteRule ^de/bpm/references/ https://camunda.com/de/case-studies/ [L,R=301]
RewriteRule ^de/bpm/references https://camunda.com/de/case-studies/ [L,R=301]
RewriteRule ^de/bpm/training/basic/ https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/bpm/training/basic https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/bpm/training/dev-ops/ https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/bpm/training/dev-ops https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/bpm/training/developers/ https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/bpm/training/developers https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/bpm/training/migrate/ https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/bpm/training/migrate https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/bpm/training/overview/ https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/bpm/training/overview https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/bpm/training/ https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/bpm/training https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/bpmn/consulting/ https://camunda.com/de/services/consulting/ [L,R=301]
RewriteRule ^de/bpmn/consulting https://camunda.com/de/services/consulting/ [L,R=301]
RewriteRule ^de/bpmn/onsite/ https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/bpmn/onsite https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/bpmn/training/ https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/bpmn/training https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/cmmn/training/ https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/customers/finance/ https://camunda.com/de/case-studies/ [L,R=301]
RewriteRule ^de/customers/finance https://camunda.com/de/case-studies/ [L,R=301]
RewriteRule ^de/customers/insurance/motor-insurers-changes/ https://camunda.com/de/case-studies/ [L,R=301]
RewriteRule ^de/customers/insurance/ https://camunda.com/de/case-studies/ [L,R=301]
RewriteRule ^de/customers/insurance https://camunda.com/de/case-studies/ [L,R=301]
RewriteRule ^de/customers/isv/ https://camunda.com/de/case-studies/ [L,R=301]
RewriteRule ^de/customers/isv https://camunda.com/de/case-studies/ [L,R=301]
RewriteRule ^de/customers/telco/ https://camunda.com/de/case-studies/ [L,R=301]
RewriteRule ^de/customers/telco https://camunda.com/de/case-studies/ [L,R=301]
RewriteRule ^de/customers/ https://camunda.com/de/case-studies/ [L,R=301]
RewriteRule ^de/customers https://camunda.com/de/case-studies/ [L,R=301]
RewriteRule ^de/kunden/ https://camunda.com/de/case-studies/ [L,R=301]
RewriteRule ^de/kunden https://camunda.com/de/case-studies/ [L,R=301]
RewriteRule ^de/dmn/training https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/dmn/training/ https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/legal/gencon.php https://camunda.com/legal/terms/ [L,R=301]
RewriteRule ^de/legal/imprint.php https://camunda.com/legal/terms/ [L,R=301]
RewriteRule ^de/legal/partner-si.php https://camunda.com/legal/terms/ [L,R=301]
RewriteRule ^de/legal/privacy.php https://camunda.com/legal/terms/ [L,R=301]
RewriteRule ^de/oceb/fundamental/ https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/oceb/fundamental https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/partners/single.php https://camunda.com/de/partners/ [L,R=301]
#RewriteRule ^de/services/consulting/ https://camunda.com/de/services/consulting/ [L,R=301]
#RewriteRule ^de/services/consulting https://camunda.com/de/services/consulting/ [L,R=301]
#RewriteRule ^de/services/training https://camunda.com/de/services/training/ [L,R=301]
RewriteRule ^de/trial/download/ https://camunda.com/de/download/enterprise/ [L,R=301]
RewriteRule ^de/trial/download https://camunda.com/de/download/enterprise/ [L,R=301]
RewriteRule ^de/trial/online/ https://camunda.com/de/download/enterprise/ [L,R=301]
RewriteRule ^de/trial/online https://camunda.com/de/download/enterprise/ [L,R=301]
RewriteRule ^de/trial/ https://camunda.com/enterprise/ [L,R=301]
RewriteRule ^de/trial https://camunda.com/enterprise/ [L,R=301]
RewriteRule ^dmn/training/ https://camunda.com/services/training/ [L,R=301]
RewriteRule ^dmn/training https://camunda.com/services/training/ [L,R=301]
RewriteRule ^legal/gencon.php https://camunda.com/legal/terms/ [L,R=301]
RewriteRule ^legal/imprint.php https://camunda.com/legal/terms/ [L,R=301]
RewriteRule ^legal/partner-si.php https://camunda.com/legal/terms/ [L,R=301]
RewriteRule ^legal/privacy.php https://camunda.com/legal/terms/ [L,R=301]
RewriteRule ^oceb/fundamental/ https://camunda.com/services/training/ [L,R=301]
RewriteRule ^oceb/fundamental https://camunda.com/services/training/ [L,R=301]
#RewriteRule ^services/consulting https://camunda.com/services/consulting/ [L,R=301]
#RewriteRule ^services/training https://camunda.com/services/training/ [L,R=301]
RewriteRule ^trial/download/ https://camunda.com/download/ [L,R=301]
RewriteRule ^trial/download https://camunda.com/download/ [L,R=301]
RewriteRule ^trial/online/ https://camunda.com/download/ [L,R=301]
RewriteRule ^trial/online https://camunda.com/download/ [L,R=301]
RewriteRule ^trial/ https://camunda.com/enterprise/ [L,R=301]
RewriteRule ^trial https://camunda.com/enterprise/ [L,R=301]
RewriteRule ^2010/02/10/business-it/ https://camunda.com/ [L,R=301]
#RewriteRule ^about/references/ https://camunda.com/case-studies/ [L,R=301]
RewriteRule ^activiti/ https://camunda.com/ [L,R=301]
RewriteRule ^activiti/activiti-online-crashcourse/ https://camunda.com/ [L,R=301]
RewriteRule ^activiti/support/ https://camunda.com/ [L,R=301]
RewriteRule ^aktuelles/psd_nachlese.html https://camunda.com/de/ [L,R=301]
RewriteRule ^business_process_simulation_news/mysql_and_stddev.html https://camunda.com/ [L,R=301]
RewriteRule ^business-rules-management/training-drools/ https://camunda.com/ [L,R=301]
RewriteRule ^company/company.html https://camunda.com/ [L,R=301]
RewriteRule ^consulting/ https://camunda.com/services/ [L,R=301]
RewriteRule ^content/jbpm/sim_tutorial/jbpm-simulation-src.jar https://camunda.com/ [L,R=301]
RewriteRule ^content/jbpm/sim_tutorial/jbpm-simulation.jar https://camunda.com/ [L,R=301]
RewriteRule ^content/jbpm/sim_tutorial/processdefinition.xml https://camunda.com/ [L,R=301]
RewriteRule ^content/jbpm/sim_tutorial/returndefectivegoods_christmas_normal_case_report.htm https://camunda.com/ [L,R=301]
RewriteRule ^content/jbpm/sim_tutorial/returndefectivegoods_status_quo_normal_case_report.htm https://camunda.com/ [L,R=301]
RewriteRule ^content/view/12/21/ https://camunda.com/ [L,R=301]
RewriteRule ^content/view/26/83/ https://camunda.com/ [L,R=301]
RewriteRule ^content/view/36/73/ https://camunda.com/ [L,R=301]
RewriteRule ^content/view/83/ https://camunda.com/ [L,R=301]
RewriteRule ^de/about/references/ https://camunda.com/de/case-studies/ [L,R=301]
RewriteRule ^de/BancodeCrditoSocialCooperativoSA.jpeg https://camunda.com/de/ [L,R=301]
RewriteRule ^de/euroscript_logo.jpg https://camunda.com/de/ [L,R=301]
RewriteRule ^de/Sicredi.png https://camunda.com/de/ [L,R=301]
RewriteRule ^de/Sparebank1.jpeg https://camunda.com/de/ [L,R=301]
RewriteRule ^de/zalando.jpg https://camunda.com/de/ [L,R=301]
RewriteRule ^en/about/jobs/ https://camunda.com/about/jobs/ [L,R=301]
RewriteRule ^esprit_logo.jpg https://camunda.com/ [L,R=301]
RewriteRule ^ganzheitliches_bpm/ueberblick.html https://camunda.com/de/ [L,R=301]
RewriteRule ^jbop https://camunda.com/ [L,R=301]
RewriteRule ^jbpm_simulation/introduction.html https://camunda.com/ [L,R=301]
RewriteRule ^jbpm_simulation/jbpm_simulation_tutorial.html https://camunda.com/ [L,R=301]
RewriteRule ^knowledge/jbpm_meets_esb.html https://camunda.com/ [L,R=301]
RewriteRule ^knowledge/jsf:_passing_parameters_per_http_get_within_the_url.html https://camunda.com/ [L,R=301]
RewriteRule ^menschen https://camunda.com/de/ [L,R=301]
RewriteRule ^menschen/ https://camunda.com/de/ [L,R=301]
RewriteRule ^menschen/activiti/ https://camunda.com/de/ [L,R=301]
RewriteRule ^menschen/activiti/activiti-online-crashcourse/ https://camunda.com/de/ [L,R=301]
RewriteRule ^menschen/activiti/praxiskurs-activiti/ https://camunda.com/de/ [L,R=301]
RewriteRule ^menschen/anforderungsmanagement/praxiskurs-bpmn-fur-it-anforderungen/ https://camunda.com/de/ [L,R=301]
RewriteRule ^menschen/business-process-management/certified-business-process-professional-cbpp/ https://camunda.com/de/ [L,R=301]
RewriteRule ^menschen/business-rules-management/praxiskurs-brm/ https://camunda.com/de/ [L,R=301]
RewriteRule ^menschen/jboss-jbpm-drools-esb/praxiskurs-jbpm-4/ https://camunda.com/de/ [L,R=301]
RewriteRule ^menschen/referenzen/ https://camunda.com/de/ [L,R=301]
#RewriteRule ^partners https://camunda.com/partners/ [L,R=301]
RewriteRule ^partners/si https://camunda.com/partners/ [L,R=301]
RewriteRule ^de/partners/si https://camunda.com/de/partners/ [L,R=301]
RewriteRule ^SHL_Logo.jpg https://camunda.com/ [L,R=301]
RewriteRule ^software/open-source/ https://camunda.com/products/ [L,R=301]
RewriteRule ^software/software-as-a-service/ https://camunda.com/products/ [L,R=301]
RewriteRule ^team/jakob_freund.html https://camunda.com/ [L,R=301]
RewriteRule ^toolkit_for_jbpm/jbpm_gui_tutorial.html https://camunda.com/ [L,R=301]
RewriteRule ^toolkit_for_jbpm/tk4jbpm_gui_tutorial.html https://camunda.com/ [L,R=301]
RewriteRule ^unternehmen/ https://camunda.com/de/ [L,R=301]
RewriteRule ^unternehmen/ihre-anfrage/ https://camunda.com/de/ [L,R=301]
RewriteRule ^unternehmen/jobs.html https://camunda.com/de/ [L,R=301]
RewriteRule ^unternehmen/jobs/technical-consultant/ https://camunda.com/ [L,R=301]
RewriteRule ^unternehmen/unsere_publikationen.html https://camunda.com/ [L,R=301]
RewriteRule ^veroffentlichungen/publikationen.html https://camunda.com/ [L,R=301]
RewriteRule ^bpm/demo/ https://camunda.com/download/enterprise/ [R=301,L]
RewriteRule ^bpm/demo https://camunda.com/download/enterprise/ [R=301,L]
RewriteRule ^cmmn/ https://camunda.com/products/modeler/ [R=301,L]
RewriteRule ^cmmn https://camunda.com/products/modeler/ [R=301,L]
RewriteRule ^fox/ https://camunda.com/ [R=301,L]
RewriteRule ^fox https://camunda.com/ [R=301,L]
RewriteRule ^poster/ https://camunda.com/learn/whitepapers/bpmn-poster-en/ [R=301,L]
RewriteRule ^poster https://camunda.com/learn/whitepapers/bpmn-poster-en/ [R=301,L]
RewriteRule ^de/poster/ https://camunda.com/de/learn/whitepapers/bpmn-poster-de/ [R=301,L]
RewriteRule ^de/poster https://camunda.com/de/learn/whitepapers/bpmn-poster-de/ [R=301,L]

# Redirect cmmn-training 28.05.18
RewriteRule ^services/training/cmmn-training https://camunda.com/services/training/ [L,R=301]
RewriteRule ^de/services/training/cmmn-training https://camunda.com/de/services/training/ [L,R=301]

RewriteRule ^events/camundacon/(.*) https://www.camundacon.com/ [L,R=301]
RewriteRule ^ccny(.*) https://web-eur.cvent.com/event/a47c0cb7-c915-4e48-97bc-7775f59bbe44/summary?RefId=ccny_home [L,R=301]
RewriteRule ^events/camundacon-newyork/(.*) https://www.camundacon.com/newyork [L,R=301]
RewriteRule ^optimize(.*) https://www.camunda.com/products/optimize/ [L,R=301]
RewriteRule ^run(.*) https://docs.camunda.org/manual/latest/user-guide/camunda-bpm-run/ [L,R=301]
RewriteRule ^RUN(.*) https://docs.camunda.org/manual/latest/user-guide/camunda-bpm-run/ [L,R=301]
RewriteRule ^training(.*) https://camunda.com/services/training/ [L,R=301]
RewriteRule ^TRAINING(.*) https://camunda.com/services/training/ [L,R=301]
RewriteRule ^CONTACT(.*) https://camunda.com/contact/ [L,R=301]

#RewriteRule ^about/ https://camunda.com/about/leadership/ [L,R=301]

RewriteCond %{HTTP_HOST} www.camunda.com
RewriteRule (.*) http://camunda.com/$1 [L,R=301]

RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

#RewriteRule ^index.html* / [L]
